html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubunto', sans-serif;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  line-height: 1.4;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
}
html .heading {
  background-color: #ffffff;
}
html .welcome {
  background-image: url("https://images.pexels.com/photos/1912868/pexels-photo-1912868.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-color: #1456A4;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html .welcome H2 {
  padding-top: 13%;
  padding-left: 3%;
  color: #1456A3;
}
html .btn {
  background-color: #1456A3;
  border-radius: 12%;
  color: white;
  padding: 2% 2%;
  text-align: center;
  display: flex;
  font-size: 150%;
  font-family: 'Indie Flower', cursive;
  margin-top: 10%;
  margin-left: 7%;
}
.middle {
  background-color: #1456A3;
  width: 100%;
}
@media (max-width: 900px) {
  .middle {
    display: flex;
    flex-direction: column;
  }
}
.middle #info1 {
  display: flex;
  align-items: center;
  width: 100%;
}
@media (max-width: 800px) {
  .middle #info1 {
    flex-direction: column-reverse;
  }
}
.middle #info1 .image1 {
  margin: 5%;
  width: 50%;
}
@media (max-width: 800px) {
  .middle #info1 .image1 {
    width: 100%;
    margin: 0;
  }
}
.middle #info1 p {
  border: solid white 5px;
  margin-right: 5%;
  text-align: center;
  padding: 2%;
  color: white;
  font-size: 300%;
  width: 50%;
  margin-top: 2%;
}
@media (max-width: 800px) {
  .middle #info1 p {
    width: 100%;
    margin: 0;
    border: none;
    font-size: 2rem;
  }
}
.middle #info2 {
  display: flex;
  align-items: center;
  width: 100%;
}
@media (max-width: 800px) {
  .middle #info2 {
    flex-direction: column;
  }
}
.middle #info2 img {
  margin: 5%;
  width: 50%;
}
@media (max-width: 800px) {
  .middle #info2 img {
    width: 100%;
    margin: 0;
  }
}
.middle #info2 p {
  border: solid white 5px;
  margin-left: 5%;
  text-align: center;
  padding: 2%;
  color: white;
  font-size: 3rem;
  width: 50%;
}
@media (max-width: 800px) {
  .middle #info2 p {
    width: 100%;
    margin: 0;
    font-size: 2rem;
    border: none;
  }
}
#tag {
  background-color: #1456a3;
}
#tag div {
  font-size: 3rem;
  color: white;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
@media (max-width: width 800px) {
  #tag div {
    font-size: 1rem;
  }
}
footer {
  width: 100%;
  background: #262121;
}
footer .footer-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
}
footer .footer-ul .footer-a {
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
  color: white;
}
footer .footer-ul .footer-a:hover {
  transform: scale(1.1);
}
footer .copyright {
  text-align: center;
  color: white;
  font-weight: 600;
}
