/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Quicksand', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Quicksand', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  flex-flow: row nowrap;
  height: 10vh;
  background: red;
  justify-content: space-around;
  align-items: center;
}
nav .logo {
  margin: 5%;
  cursor: pointer;
}
nav .logo .logo-a {
  color: white;
  font-size: 4rem;
  width: 50%;
  height: 100%;
  font-weight: 600;
  text-decoration: none;
}
nav .nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}
nav .nav-links .nav-a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}
nav .nav-links .nav-a .nav-links .nav-a {
  transform: scale(1.1);
}
section {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
section .hero {
  position: relative;
  height: 90%;
  width: 100%;
}
section .hero::after {
  content: "";
  background: black;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
section .hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section .headline {
  position: absolute;
  top: 80%;
  left: 15%;
  font-size: 10rem;
  transform: translate(-40%, -90%);
  color: white;
  z-index: 3;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
