// Landing image and content with animations using GSAP
.hero-section {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  margin-top: 0px;

  .hero {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .hero::after {
    content: "";
    background: black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .headline {
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 10rem;
    transform: translate(-5%, -50%);
    color: white;
    z-index: 3;
    font-weight: 600;

    @media @middleChange {
      font-size: 8rem;
    }

    @media @phone {
      top: 45%;
      font-size: 7rem;
      line-height: 1.4;
    }

    @media @mobileHeight {
      font-size: 5.5rem;
      line-height: 1.2;
      top: 50%;
    }
  }
}

// Slider for the visual effect of the hero image
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  z-index: -1;
}

// Lower Content Prelude to Testimonials
.lower-about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: @rightColor;

  .test-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    height: 600px;
    background: #fff;
    margin: 20px;

    @media @topChange {
      height: auto;
    }

    .test-img {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      background: @leftColor;

      @media @topChange {
        padding: 40px;
        width: 100%;
        height: auto;
        text-align: center;
        overflow: hidden;
      }

      img {
        position: relative;
        width: 700px;
        left: -20%;

        @media @topChange {
          left: initial;
          max-width: 100%;
        }
      }
    }

    .test-img:before {
      content: 'GIVE';
      position: absolute;
      top: 20px;
      left: 20px;
      color: #000;
      opacity: .1;
      font-size: 9rem;
      font-weight: 800;

      @media @topChange {
        color: #fff;
        opacity: .5;
        z-index: 1;
      }
    }

    .test-img:after {
      content: 'BACK';
      position: absolute;
      bottom: 20px;
      right: 20px;
      color: #000;
      opacity: .1;
      font-size: 9rem;
      font-weight: 800;

      @media @topChange {
        color: #fff;
        opacity: .5;
        z-index: 1;
      }
    }
      
    .test-details {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      padding: 40px;

      @media @topChange {
        width: 100%;
        height: auto;
        padding: 20px;
      }

      h2 {
        margin-bottom: 3%;
        padding: 0;
        font-size: 3.5rem;
        line-height: 0.8em;
        color: #000;    
      }

      .test-details p {
        max-width: 85%;
        margin-left: 15%;
        color: #333;
        font-size: 1.5rem;

        @media @topChange {
          max-width: 100%;
          margin-left: 0;
        }
      }

      .test-btn {
        .buttonStyle("", "", #fff, @leftColor, none, 40px, pointer, 1.6rem);
        box-shadow: none;
        padding: 15px 20px;
        margin-top: 5px;
        letter-spacing: 1px;
        font-weight: 600;
        float: right;
      }

      .test-btn:hover {
        transform: scale(1.1);
      }
    }
  }
}