section {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;

  .hero {
    position: relative;
    height: 90%;
    width: 100%;
  }
  
  .hero::after {
    content: "";
    background: black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .headline {
    position: absolute;
    top: 80%;
    left: 15%;
    font-size: 10rem;
    transform: translate(-40%, -90%);
    color: white;
    z-index: 3;

    @media @tablet {
      top: 80%;
      left: 25%;
      font-size: 9rem;
    }
  }
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.main-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;

  @media @tablet {
    flex-flow: column wrap;
  }

  .mission-statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 100%;

    @media @tablet {
      justify-content: space-evenly;
      width: 100%;
      padding: 10%;
    }

    .mission-statement h2 {
      font-size: 4rem;
    }

    .mission-btn {
      background-color: red;
      color: white;
      width: 50%;
      height: 10%;
      font-size: 1.6rem;
      font-weight: 600;
      border-radius: 20px;

      @media @tablet {
        width: 100%;
        height: 20%;
      }
    }
  }

  .mission-img {
    width: 45%;
    height: 100%;

    @media @tablet {
      width: 80%
    }
  }
}
