// Social icons

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;

  a {
    text-decoration: none;
  }

  .icons {
    margin: 12px 10px;
    cursor: pointer;
    color: black;
  }

  .icons:hover {
    transform: scale(1.1);
  }
}