.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: #fff;

  .modal-btn {
    background: @leftColor;
    color: #fff;
    border: 0;
  }
}