a {
    font-weight: 700;
}

nav {
  height: 15vh;
  margin-top: 1%;

  @media @navChange {
    height: 30vh;
    margin-top: 3%;
  }
  
  @media @tablet {
      flex-direction: column;
      align-items: center;
  }

  @media @phone {
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
  }

  @media @mobileHeight {
    height: 40%;
  }

  .is-link {
    font-weight: 700;
    font-size: 2rem;
    color: @leftColor;
  }

  .is-link:hover{
    color: #4a4a4a;
    a {
      border-color: lightgray
    }
  }
    
}