a {
    font-weight: 700;
}

nav {


    @media @navChange {
        height: 30vh;
    }

    @media @tablet {
        flex-direction: column;
        align-items: center;
    }

    @media @phone {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

    }
}