nav {
  height: 10vh;
  margin-top: 1%;

  @media @tablet {
    height: 20vh;
    margin-top: 3%;
  }

  @media @navHeight {
    height: 25vh;
  }

  .is-link {
    font-weight: 700;
    font-size: 2rem;
    color: @leftColor;
  }

  .is-link:hover{
    color: #4a4a4a;
    a {
      border-color: lightgray
    }
  }
}