.resource-main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1%;
  grid-auto-rows: minmax(300px, auto);
  width: 100%;
  height: 100vh;
  max-height: 100%;

  .resource-side-panel {
    background: @rightColor;
    width: 20%;
  }
}