// Split Animation and screen effect for About Page
.main-content {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;

  .left-content {
    left: 0;
    background: url('/src/img/split-left.png') center center no-repeat;
    background-size: cover;
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: @speed all ease-in-out;

    h1 {
      font-size: 4rem;
      color: #fff;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;

      @media @phone {
        font-size: 3rem;
      }
    }

    .split-button {
      display: block;
      position: absolute;
      top: 40%;
      left: 50%;
      height: 5rem;
      padding-top: 1.2rem;
      width: 15rem;
      text-align: center;
      color: #fff;
      border: #fff solid 0.3rem;
      font-size: 2rem;
      font-weight: 600;
      text-decoration: none;
      transform: translateX(-50%);

      @media @phone {
        width: 12rem;
      }
    }

    .split-button:hover {
      background: @leftBtnHover;
      opacity: 0.7;
      border-color: @leftBtnHover;
    }
  }

  .left-content:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: @leftColor;
    opacity: .7;
    transition: @speed all ease-in-out;
  }

  .right-content {
    right: 0;
    background: url('/src/img/split-right.png') center center no-repeat;
    background-size: cover;
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: @speed all ease-in-out;

    h1 {
      font-size: 4rem;
      color: #fff;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;

      @media @phone {
        font-size: 3rem;
      }
    }

    .split-button {
      display: block;
      position: absolute;
      top: 40%;
      left: 50%;
      height: 5rem;
      padding-top: 1.2rem;
      width: 15rem;
      text-align: center;
      color: #fff;
      border: #fff solid 0.3rem;
      font-size: 2rem;
      font-weight: 600;
      text-decoration: none;
      transform: translateX(-50%);

      @media @phone {
        width: 12rem;
      }
    }

    .split-button:hover {
      background: @rightBtnHover;
      opacity: 0.7;
      border-color: @rightBtnHover;
    }
  }

  .right-content:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: @rightColor;
    opacity: .7;
    transition: @speed all ease-in-out;
  }
}

// Hover effects with variables from Less
.hover-left .left-content {
  width: @hover-width;
}

.hover-left .right-content {
  width: @other-width;
}

.hover-left .right-content:before {
  z-index: 2;
}

.hover-right .right-content {
  width: @hover-width;
}

.hover-right .left-content {
  width: @other-width;
}

.hover-right .left-content:before {
  z-index: 2;
}