// Colors

@rightColor:rgb(47, 79, 79);
@rightBtnHover: rgb(51, 161, 161);
@leftColor: rgb(19, 86, 164);
@leftBtnHover: rgb(71, 178, 255);

// Action Variables

@hover-width: 75%;
@other-width: 25%;
@speed: 1000ms;

// Media Variables

@tablet: (max-width: 1000px);
@mobile: (max-width: 800px);
@phone: (max-width: 500px);