// Colors

@rightColor:#2f4f4f;
@rightBtnHover: rgb(51, 161, 161);
@leftColor: #1356a4;
@leftBtnHover: rgb(71, 178, 255);

// Action Variables

@hover-width: 75%;
@other-width: 25%;
@speed: 1000ms;

// Media Variables

@topChange: (max-width: 1115px);
@tablet: (max-width: 1000px);
@middleChange: (max-width: 900px);
@mobileHeight: (max-height: 900px);
@mobile: (max-width: 800px);
@navChange: (max-width: 768px);
@contactChange: (max-width: 620px);
@phone: (max-width: 500px);
@phoneHeight: (max-height: 640px);